body {
  font-family: Georgia, serif;
  color: black;
  margin: 40px;
  max-width: 40000px;
  padding: 2rem;
  background-image: url('paper-background.jpeg');
  background-attachment: fixed;
  background-size: cover;
}
.tableHeader {
  color: whitesmoke
}
th {
  border-radius: 10px
}
.miniGoals {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: hsla(193, 75%, 84%, 1)
}
.miniGoalsDelete {
  padding: 2px;
}
.miniGoalsAdd {
  padding: 2px;
}
#miniTable {
  border-spacing: 10px;
}
.tableBackground {
  border-radius: 10px;
  background-color: hsla(194, 89%, 93%, 1);
  color: black ;
}
.headingFont {
  font-size: 40px;
  background-color: hsla(195, 57%, 5%, 1);
}
#myTable {
  border-spacing: 4px;
  table-layout: fixed;
}
#everything {
  display: flex;
  flex-direction: row;
}